extends layout.pug	

block prepend head
	- var pageTitle = "T-Mobile Switch"
block content
	#menu-btn
		<svg id="burger" width="14" class="openmenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path class="top" d="M0 6h30v2H0z"/><line class="mid" x1="0" y1="15" x2="30" y2="15" stroke-width="1.4" vector-effect="non-scaling-stroke"/><path class="bot" d="M0 22h30v2H0z"/></svg>
		#menuText.small Other work
		
	.container
		section.grid-container.intro.revealMove.load-hidden#hero-tmo
			.content-hero.revealMove.load-hidden
				+mixin_hero('T-Mobile','Switch','Web | Concept, Design, & Motion')
				.herotext.description
					p This little micro experience for prospective customers starts on <span class="nowrap">T-Mobile’s</span> homepage (some other ads and social junk pointed to it as well). Three quick questions and you’re on your way. You’re taken to the Results page, which highlights the amount you’ll save per year, the other benefits that come with the <span class="nowrap">Un-Carrier,</span> and some other goofy bits to put a smile on their face. Most of the experience shown here made it to production, but a couple extra pieces got sprinkled in <span class="nowrap">for fun.</span>
				
		.section-title.fix Questions
		section.grid-container.content
			.eyebrow.revealFade.load-hidden Homepage component
			.video.revealFade.load-hidden
				iframe#ytplayer(
					type="text/html"
					width="1920px"
					height="1080px"
					src="https://www.youtube.com/embed/Hhng9QHNi9I?autoplay=0&controls=0&loop=1&playlist=Hhng9QHNi9I&rel=0&showinfo=0&color=white&modestbranding=1"
					frameborder="0"
					allowfullscreen)
			.img-9.revealFade.load-hidden
				img(src='assets/img/subpage/tmo-switcher/q1-2116w.jpg')
				.info.caption Current carrier
			.img-9.revealFade.load-hidden
				img(src='assets/img/subpage/tmo-switcher/q2-2116w.jpg')
				.info.caption Number of lines
			.img-9.revealFade.load-hidden
				img(src='assets/img/subpage/tmo-switcher/q3-2116w.jpg')
				.info.caption Monthly bill
		
		#tmoendsection1
		
		.section-title Savings
		section.grid-container.content
			.eyebrow.revealFade.load-hidden Results page
			.video.revealFade.load-hidden
				iframe#ytplayer(
					type="text/html"
					width="1920px"
					height="1080px"
					src="https://www.youtube.com/embed/Vtqhn2ovhu4?autoplay=0&controls=0&loop=1&playlist=Vtqhn2ovhu4&rel=0&showinfo=0&color=white&modestbranding=1"
					frameborder="0"
					allowfullscreen)
			.img-9.revealFade.load-hidden
				img(src='assets/img/subpage/tmo-switcher/lp-results.jpg')
				.info.caption Default view
			.img-9.revealFade.load-hidden
				img(src='assets/img/subpage/tmo-switcher/lp-timeline.jpg')
				.info.caption Timeline view
		
		#tmoendsection2
			
		.footer
			#circle.nextPrjt
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
						<defs>
								<path id="circlePath" d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
						</defs>
						<circle cx="150" cy="150" r="150" fill="none"/>
						<g>
								<use xlink:href="#circlePath" fill="none"/>
								<text fill="#9B9B9B">                  
										<textPath xlink:href="#circlePath">Volkswagen • Car-Net • Connect • </textPath>
								</text>                                
						</g>                                        
				</svg>
			a#next.title.revealMove.load-hidden(href="../vw.html") Next
