- var bio = "The portfolio of Isaac Martin, a multidisciplinary designer. Living and working in Austin, Texas. Currently Design Lead at Publicis.Sapient.";

block head
  meta(
    charset='utf-8'
    )
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1, minimum-scale=1'
    )
  meta(
    http-equiv='X-UA-Compatible'
    content='IE=edge,chrome=1'
    )
  title #{pageTitle}
  meta(
    name='description'
    content= bio
    )
  meta(
    name= 'keywords'
    content= 'Isaac Martin, Isaac, Martin, designer, visual designer, creative, Portfolio, Design Lead, design, Art Direction, Motion, Motion Design'
    )
  link(
    rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Fira+Mono:500|Work+Sans:400,700'
    )
  link(
    rel="stylesheet"
    href="https://webfonts.fontstand.com/WF-009302-ae773b124168048902436edc43ad765b.css"
    type='text/css'
    )
  link(
    rel="stylesheet"
    type='text/css'
    href='assets/css/makeitpretty.css'
    )  
  link(
    href="https://vjs.zencdn.net/7.3.0/video-js.css"
    rel="stylesheet"
    )
  link(
    rel="apple-touch-icon" href="apple-icon.png"
    )
  meta(
    name="apple-mobile-web-app-title"
    content="Isaac Martin"
    )
  script(
    src='https://code.jquery.com/jquery-3.3.1.min.js'
    integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'
    )
  script(src='assets/js/jquery.fitvids.js')
  script(src='https://unpkg.com/scrollreveal')
  //-script ScrollReveal().debug = true;
