block menu
  //-menu
  ul#menu-container.menu.dark
    li.menuListItem
      a.dark(href="pt-gift.html")
        .eyebrow.dark(class=active == 'pt-gift' ? 'active' : '') Patrón Tequila
        .title(class=active == 'pt-gift' ? 'active' : '') Guide
    li.menuListItem
      a.dark(href="tmo-switcher.html")
        .eyebrow.dark(class=active == 'tmo-switcher' ? 'active' : '') T-Mobile
        .title(class=active == 'tmo-switcher' ? 'active' : '') Switch
    li.menuListItem
      a.dark(href="vw.html")
        .eyebrow.dark(class=active == 'vw' ? 'active' : '') Volkswagen Car-net
        .title(class=active == 'vw' ? 'active' : '') Connect
    li.menuListItem
      a.dark(href="aflac.html")
        .eyebrow.dark(class=active == 'aflac' ? 'active' : '') Aflac
        .title(class=active == 'aflac' ? 'active' : '') Protect
    li.menuListItem
      a.dark(href="cmhf.html")
        .eyebrow.dark(class=active == 'cmhf' ? 'active' : '') Country Music Hall of Fame
        .title(class=active == 'cmhf' ? 'active' : '') Preserve
    li.menuListItem
      a.dark(href="odi.html")
        .eyebrow.dark(class=active == 'odi' ? 'active' : '') Odigo Insurance
        .title(class=active == 'odi' ? 'active' : '') Ensure
    
    a#home(href="index.html") Back to Home
