mixin mixin_hero(eyebrow, title, info)
	.content-hero
		.eyebrow= eyebrow
		h2.title= title
		.info= info

mixin mixin_experience(job_name, years)
	li.experience
		p= job_name
		.small= years

mixin mixin_js
	script(
		src='assets/js/nav.js'
		)
	script(
		src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'
		)
	script sr.reveal('.reveal', { container: '.content-container' });

mixin img-responsive(srcset,sizes,src)
	img(
		srcset=srcset,
		sizes=sizes,
		src=src
		)
