mixin mixin-hero(eyebrow, title, info)
  .content-hero
    .hero-eyebrow= eyebrow
    h2.hero-title= title
    .hero-info= info
  
mixin mixin-experience(job_name, years)
  li.experience
    p= job_name
    .small= years
